<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
 <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro unde illo ipsa nulla minus ea quisquam cupiditate quasi. Pariatur dolore natus cumque alias quasi ipsum quidem fugiat consequuntur a quas!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis accusantium natus, quae corrupti nostrum illo iste! Ea, eligendi? Doloremque libero pariatur corrupti aliquid numquam totam delectus, sunt aliquam voluptas doloribus.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta molestiae unde optio provident nostrum, iste excepturi voluptates ad, perspiciatis nihil exercitationem in mollitia nam maiores modi. Inventore harum vitae quibusdam.</p>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>